
:root {
  --color_bg: #000000;
  --color_font: #FFFFFF;
  --colorful-font: #E5005F;
  --color-btn: #E5005F;
  --border: #E5005F;
  --light-border: #606060;
  --light-rose:#e2008f;
  --hot-pink:	#C71585;
  --purple:	#483D8B;
}


body {
  background-color: var(--color_bg);
  box-sizing: border-box;
  width: auto;
  height: auto;
  text-decoration: none;
  color: var(--color_font);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background:var(--color_bg);
  backdrop-filter: blur(22px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


nav .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
}

nav li {
  list-style: none;
}

nav a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  padding: 10px 15px;
  font-family: Roboto;
  display: flex;
  font-weight: 100;
  align-items: center;
  transition: color 0.3s ease;
}


nav a::after {
  content: "";
  position: absolute;
  bottom: -4px; 
  left: 0;
  height: 2px;
  width: 0%;
  font-weight: 200;
  background-color: var(--border);
  transition: width 0.4s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: var(--border);
}


nav a:hover {
  color: var(--border);
}


.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  padding-top: 60px;
  z-index: 1001;
}
nav a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  padding: 10px 15px;
  font-family: Roboto;
  display: flex;
  font-weight: 100;
  align-items: center;
  transition: color 0.3s ease;
}


.sidebar a::after {
  content: "";
  position: absolute;
  bottom: -4px; 
  left: 0;
  height: 2px;
  width: 0%;
  font-weight: 200;
  background-color: var(--border);
  transition: width 0.4s ease-in-out;
}

.sidebar a:hover::after {
  width: 100%;
}

.sidebar a:hover {
  color: var(--border);
}


.sidebar a:hover {
  color: var(--border);
}

.sidebar li a {
  color: var(--color_font);
  padding: 15px;
  transition: color 3s;
}

.menu-button {
  display: none;
  cursor: pointer;
}

/* grids  */

.grid{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 5px;
  width: 40%;
  gap: 5px;
  height: auto;
  justify-self: right;
  align-items: right;
  margin-left: 40%;
  background-color: #000000;
  padding: 5px;
  position: relative;

}
.rectangle_border{
  display: flex;
  border-radius: 28px;
  width: 185px;
  height: 163px;
  background-color: var(--color_bg);
  border: 2px solid var(--border);

}
.rectangle_full{
  display: flex;
  border-radius: 28px;
  width: 185px;
  height: 163px;
  background-color: var(--color-btn);
  border: 2px solid var(--border);


}


.image-grid {
  position: absolute; 
  top: 10%;
  left: 62%;
  display: flex; 
  gap: 5px; 
  z-index: 10;
  pointer-events: auto; 
}


.image-grid img {
  width: 500px;
  height: 600px;
  transition: all 0.3s ease; 
}

.image-grid img:hover {
  filter: blur(5px); 
  transform: scale(1.2); 
}

.title{
text-align: center;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #000;
font-family: Inter;
font-style: normal;
margin-top:7% ;
font-weight: 700;
line-height: normal;
}
.title h3{
font-size: 120px;
font-family: Roboto;
color: var(--color_bg);
-webkit-text-stroke:2px  var(--border);
font-weight: 700;

}


.element-triangle{
  display: grid;
  gap:20px;
  align-self:right ;
  justify-items:right ;
  margin-left: 80%;
  padding: 10px;

}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid var(--color_font); 
}
.triangle-border-wrapper {
  width: 0;
  height: 0;
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  border-bottom: 108px solid #E5005F; /
}

.triangle-border {
  position: relative;
  top: 8px;
  left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #000000;
}

.triangle-colorful{
 width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid var(--border);
}
.text-field p {
color: var(--color_font);
text-align: center;
font-family: Roboto;
font-size: 26px;
justify-items: center;
width: 1000px;
align-content:center ;
margin-top: -12%;
margin-left: 25%;
font-style: normal;
font-weight: 200;
line-height: normal;
}
.text-field::after {
  content: "";
  position: absolute;
  width: 0;
  display: block;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #E5005F;
  transition: width 0.3s ease;
}

.text-field hover::after {
  width: 100%;
}
.High-title{
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  font-family: Roboto;
  border-top: 20% ;
  align-items: center;
  justify-self: center;
  color: var(--color_bg);
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: var(--border);


}

.container-habilities {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap; 
}


.card {
  background-color: var(--color_bg);
  width: 300px;
  border: 2px solid var(--border);
  border-radius: 28px;
  padding: 1.5rem;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  text-align: center;
}
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: var(--border);
}


.text-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--color_font);
  font-size: 1rem;
  text-align: left;
  width: 100%;
}

.conteiner-grid p {
  align-items: center;
  justify-self: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 200;
  margin: 20px;
}
.conteiner-languages{
  width: 100%;
  height:auto;
  display: flex;
  gap: 13px;
}
.conteiner-languages .grid-languages{
  display:flex;
  padding: 0px 55px;
  width: auto;
  margin-top: 15%;
  height:auto;
  align-items: center;
  justify-self: center;
  margin: 10px;
  gap: 13px;
  margin-left: 15%;
  border-radius: 28px;
  background-color: var(--color_bg);
  border: 1px solid var(--border);
  transition: all 0.3s ease; 
}

.conteiner-languages svg:hover {
  filter: blur(5px); 
  transform: scale(1.1); 
}
  
 .grid-checkered {
  display: grid;
  grid-template-columns: repeat(5, 104px); 
  gap: 10px;
  margin-left:80%;
  width: max-content;
  align-items: right ;
  justify-self: right;
  margin-top:10%;
  padding: 20px;
}

.rectangle-full,
.rectangle-border {
  width: 104px;
  height: 100px;
  border: 1px solid #333;
}

.rectangle-full {
  background-color: var(--border);
}

.rectangle-border {
  background-color: var(--color_bg);
  border: 2px solid var(--border);
}


.grid-checkered > :nth-child(10n+6),
.grid-checkered > :nth-child(10n+7),
.grid-checkered > :nth-child(10n+8),
.grid-checkered > :nth-child(10n+9),
.grid-checkered > :nth-child(10n+10) {
  transform: translateX(52px); 
}
 .me-title{
    font-size: 48px;
    margin:40px;
    font-style: normal;
    font-weight: 200;
    font-family:Roboto;
    align-items: center;
    justify-self: center;
    color: #D12D6F;
    
  }

.me-text {
  margin: 20px auto; /* centraliza horizontalmente */
  font-size: 1.2rem; /* responsivo, ~19px */
  font-style: normal;
  text-align: justify;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  max-width: 800px; 
  padding: 0 1rem; 
  transition: all 0.3s ease-in-out;
}

.me-text:hover {
  color: #555; 
}

.grid-image {
  display: grid;
  place-items: center;
  height: 320px;
  width: 320px;
  align-items: center;
  justify-self: center;
  border-radius: 28px;
  border: 1px solid var(--border); 
  
}

.image-me img {
  width: 300px; 
  height: auto; 
  border-radius: 8px;
  transition: all ease 0.3s;
  
}

.image-me img:hover {
  filter: blur(5px); 
  transform: scale(1.1); 
}
 .title-projects h1{
   font-style:unset;
  font-weight: 700;
  font-size: 124px;
  font-family: Roboto;
  align-items: center;
  margin: 20px;
  justify-self: center;
  color: var(--color_bg);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: var(--border);
}
.title-projects svg{
height: 82px;
width: 82px;
}
.conteiner-project{
  width: 90%;
  height: auto;
  align-items: center;
  justify-self: center;
  display: grid;
  border: #606060;
  text-align: center;
}
.grid-project{
  align-items: center;
  justify-self: center;
  font-size:18px;
  font-family:Roboto;
  font-weight: 100;
  margin:20px;
  border: 1px solid var(--border);
  border-radius: 20px;
}
.grid-img{
  width: 30%;
  height:auto;
  margin:5px;
  align-items: center;
  justify-self: center;
;  
}
.grid-img img{
  width: 288px;
  border-radius: 20px;
  height: auto;
  margin-bottom: 10px;
}
.grid-project h3{
align-items: center;
  justify-self: center;
  font-size:36px;
  font-family:Roboto;
  font-weight: 100;
  color:var(--color-btn);
  margin:20px;
}
.btn-project {
  padding: 10px 20px;
  background-color: var(--color_bg);
  color: var(--border);
  border: 1px solid var(--border);
  border-radius: 5px;
  text-decoration: none; 
  width: 220px;
  height:45px;
  font-size: 16px;
  border-radius: 28px;
  margin:30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-project:hover {
  background-color:var(--border); 
}
.title-tech{
  margin: 20px;
  width: 80%;
  align-items: center;
  justify-self: center;

}
.title-tech h1{
  font-size: 98px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color_bg);
  -webkit-text-stroke-color:var(--light-border);
  -webkit-text-stroke-width: 1px ;
}
.title-tech svg{
  display:grid;
}
.title-tech h8{
 font-size: 28px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  top:-10px;
  color: var(--border);
  
}
.grid-cards{
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 20px;
  text-align: center;
  margin-top: 10%; 
  gap: 40px;
 
}

.cards img {
  width: 60%;
  height: auto;
  top: 0;
  margin: 20px;
  align-items: center;
  justify-self: center;
}
.cards h2{
  font-size: 30px;
  font-family: Roboto;
  font-family: 200;
  color: var(--color_bg);
  -webkit-text-stroke-color:var(--border);
  -webkit-text-stroke-width: 1px ;
}
.cards {
  background-color: #ffffff11;
  width: 300px;
  border-radius: 28px;
  height: 320px;
  border: 1px solid rgba(210, 0, 105, 0.754);
  box-shadow: 0 0 8px rgba(255, 105, 180, 0.2); 
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.cards:hover {
  box-shadow: 0 0 12px rgba(245, 0, 123, 0.792),
              0 0 24px rgba(255, 105, 180, 0.2);
  border-color: rgba(255, 105, 180, 0.4);
}

.border-card{
  border-radius: 28px;
  border: 1px transparent ;
  margin: 2px;
  background-color: #ffffff04;
  backdrop-filter: blur(16px);
  width: 90%;
  align-items: center;
  justify-self: center;
}
.details svg{
  width: 105px;
  margin: 10px;
  height:105px;
  display: inline-block;
  transition: all ease 0.3s;
}
.details svg{
  filter: blur(2px);
  transform: scale(1.0);
}
.triangle-decor svg{
  display: grid;
  width: 105px;;
  height:105px;
  margin: 20px;
  align-items: center;
  justify-self: right;

}

.footer-bg {
  position: relative;
  width: 100%;
  height: auto; 
  overflow: hidden;
}

.footer-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1;
  pointer-events: none; 
}

.footer-conteiner {
  position: relative;
  z-index: 2;
  padding: 20px;
  background-color: #ffffff2e;
  width: 40%;
  height: 700px;
  margin: 20px;
  border-radius: 20px;
  align-items: center;
  justify-self: center;
  color: white; 
}
.content-footer{
  display:grid;
    margin-top: 5%;
}
.content-footer a {
  color: var(--color_font);
  text-decoration: none;
  font-size: 24px;
  margin:20px;
  font-family: Roboto;
  font-weight: 200;
}
.footer-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1;
  pointer-events: none; 
}

.footer-conteiner h2 {
  font-size: 36px;
  font-style: normal;
  align-items: center;
  justify-self: center;
  font-weight: 700;
  display:flex;
  text-transform: uppercase;
  font-family: Roboto;
}
.content-footer svg{
  width: 42px;
  height: auto;
  padding: 2px;
  border: none;
}
.content-footer{
  display:grid;
}
.footer-btn{
  width: 230px;
  height: 55px;
  margin: 10px;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 200;
  padding: 10px;
  align-content: center;
  align-items: center;
  color: var(--border);
  background-color: #000000;
  justify-self: center;
  border-radius: 28px;
  border: 1px solid var(--border);
  transition: transform 0.2s;
}

.footer-btn:hover {
  transform: scale(1.1);
}
.footer-btn svg{
  align-items: flex-start;
  justify-self: left;
  margin: 2px;
}
.content-footer li{
  list-style: none;
  text-decoration: none;
}


.footer-btn svg{
  align-items: flex-start;
  justify-self: left;
  margin: 25x;
}
@media (max-width: 768px) {
.grid-cards{
  display: grid;
  align-items: center;
  justify-self: center;
  text-align: center;
  margin-top: 10%; 
}
.footer-bg {
  position: relative;
  width: 100%;
  height: 500px; 
  align-items: center;
  justify-self: center;
  overflow: hidden;
}
.footer-btn{
  width: 200px;
  height: 45px;
  margin: 10px;
  padding: 10px;
  align-items: center;
  color: var(--border);
  background-color: #000000;
  justify-self: center;
  border-radius: 28px;
  border: 1px solid var(--border);
  transition: transform 0.2s;
}

.footer-btn:hover {
  transform: scale(1.1);
}



.footer-btn svg{
  align-items: flex-start;
  justify-self: left;
  margin: 2px;
}
.content-footer li{
  list-style: none;
  text-decoration: none;
}
.content-footer svg{
  width: 28px;
  height: auto;
  border: none;
}
.content-footer{
  display:grid;
  gap:2px;
  margin: 2px;
}
.content-footer a {
  color: var(--color_font);
  text-decoration: none;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 200;
}
.footer-bg img {
  position: absolute;
  top: 0;
  align-items: center;
  justify-self:center;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1;
  pointer-events: none; 
}
.footer-conteiner h2 {
  font-size: 16px;
  font-style: normal;
  align-items: center;
  justify-self: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Roboto;
}
.footer-conteiner {
  position: relative;
  z-index: 2;
  background-color: #ffffff2e;
  width: 95%;
  height: 800px;
  border-radius: 20px;
  align-items: center;
  justify-self: center;
  color: white; 
}

.triangle-decor svg{
  display: grid;
  width: 55px;;
  height:55px;
  margin: 20px;
  align-items: center;
  justify-self: right;

}
.details svg{
  width: 55px;
  margin: 2px;
  height:55px;
  display: inline-block;
  transition: all ease 0.3s;
}
.details svg{
  filter: blur(2px);
  transform: scale(1.0);
}
.cards h2{
  font-size: 28px;
  font-family: Roboto;
  font-family: 100;
  text-transform: uppercase;
  color: var(--color_bg);
  -webkit-text-stroke-color:var(--border);
  -webkit-text-stroke-width: 1px ;
}

.cards {
  background-color: #ffffff11;
  width: 200px;
  border-radius: 28px;
  height: 320px;
  border: 1px solid rgba(210, 0, 105, 0.754);
  box-shadow: 0 0 8px rgba(255, 105, 180, 0.2); 
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.cards:hover {
  box-shadow: 0 0 12px rgba(245, 0, 123, 0.792),
              0 0 24px rgba(255, 105, 180, 0.2);
  border-color: rgba(255, 105, 180, 0.4);
}

.border-card{
  border-radius: 28px;
  border: 1px transparent ;
  margin: 2px;
  background-color: #ffffff04;
  backdrop-filter: blur(16px);
  width: 90%;
  align-items: center;
  justify-self: center;
}
.cards img {
  width: 60%;
  height: auto;
  top: 0;
  margin: 20px;
  align-items: center;
  justify-self: center;
}
.title-tech h8{
 font-size: 18px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  top:-10px;
  color: var(--border);
  
}
.title-tech{
  margin: 20px;
  width: 80%;
  align-items: center;
  justify-self: center;
  margin-top: 120%;
}
.title-tech h1{
  font-size: 42px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color_bg);
  -webkit-text-stroke-color:var(--light-border);
  -webkit-text-stroke-width: 1px ;
  
}
.title-tech svg{
  display:grid;
  height: auto;
  width: 50px;
}

  .project-section{
    margin-bottom: 20px;
    gap:250px;

  }
  .container-habilities {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10%;
  }
  .title-projects h1{
   font-style:unset;
  font-weight: 500;
  font-size: 42px;
  font-family: Roboto;
  align-items: center;
  margin: 20px;
  justify-self: center;
  color: var(--color_bg);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: var(--border);
}
.title-projects svg{
  align-items: top;
  justify-self:top;


}
.grid-img{
  width: 30%;
  height:auto;
  margin:5px;
  align-items: center;
  justify-self: center;
  margin-left: -40%;  
}
.grid-img img{
  width: 188px;
  height: auto;
  margin-bottom: 10px;
}
  .me-title{
    font-size: 24px;
    margin:20px;
    font-style: normal;
    font-weight: 200;
    font-family:Roboto;
    align-items: center;
    justify-self: center;
    color: #D12D6F;
    
  }

.grid-image {
  display: grid;
  place-items: center;
  height: 120px;
  width: 120px;
  align-items: center;
  justify-self: center;
  border-radius: 28px;
  border: 1px solid var(--border); 
}

.image-me img {
  width: 100px; 
  height: auto; 
  border-radius: 8px;
  transition: all 0.3s ease; 
}

.image-me img:hover {
  filter: blur(5px); 
  transform: scale(1.1); 
}


.me-text{
  width: 60%;
  margin:auto;
  align-items: center;
  justify-self: center;
  font-size: 8px;
  font-style: normal;
  text-align: center;
  font-weight: 200;
  font-family: Roboto;
 
}
.svg-me{
  width: 10%;
  height: 10%;
  
}

  .card {
    width: 100%; 
    font-size:12px;
  }
 .High-title {
  font-size: 32px;
  font-family: Roboto;
  font-weight: 700;
  color: var(--color_bg);
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: var(--border);
  margin-top: 65%;
}


  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .nav-links {
    justify-content: space-between;
  }


.nav-btn{
  display: flex;
  background-color: #000000;
  padding: 10px;
  gap:10px;
  margin:20px;
  margin-left: -15%;
  width: 120px;
  font-size: 8px;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 28px;
  border: var(--border) solid 1px ;  
  transition: transform 0.3s ease;
}
.nav-bar a {
  align-items: center;
  justify-content: center;
  font-size: 8px;
  padding-top: 10px;
  margin: 10px;
}
.nav-btn:hover {
  transform: scale(1.05);
}

.ball-main{
  width: 50px;
  height: 50px;
  right:60%;
  align-items: left;
  justify-self: left;
  margin-left: 10%;
  margin-top: 30%;
  border-radius: 50%;
  background-color: var(--border);
  box-shadow: 0 4px 6px rgba(0,0,0,00.2);

}
.ball-main h1{
  text-align: center;
  font-family: Roboto;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  backdrop-filter: blur(2px);
}


.ball2 {
width: 30px;
  height: 30px;
  right:60%;
  align-items: left;
  justify-self: left;
  margin-left: 60%;
  margin-top: 10%;
  border-radius: 50%;
  background-color: var(--border);
  box-shadow: 0 4px 6px rgba(0,0,0,00.2);

}
.ball3 {
width: 30px;
  height: 30px;
  right:60%;
  align-items: left;
  justify-self: left;
  margin-left: 80%;
  margin-top: 30%;
  border-radius: 50%;
  background-color: var(--border);
  box-shadow: 0 4px 6px rgba(0,0,0,00.2);

}
.conteiner-project{
  width: 90%;
  height: 386px;
  align-items: center;
  margin-top:60%;
  justify-self: center;
  display: grid;
  margin-bottom: 148px;
  gap:50px;
  border: #606060;
  text-align: center;
}
.grid-project{
  align-items: center;
  justify-self: center;
  font-size:10px;
  font-family:Roboto;
  font-weight: 100;
  margin:20px;
  border: 1px solid var(--border);
  border-radius: 20px;
}
.grid-project h3{
align-items: center;
  justify-self: center;
  font-size:16px;
  font-family:Roboto;
  font-weight: 100;
  color:var(--color-btn);
  margin:20px;
}
.btn-project {
  padding: 10px 20px;
  width: 100px;
  background-color: var(--color_bg);
  color: var(--border);
  border: 1px solid var(--border);
  border-radius: 5px;
  text-decoration: none; 
  font-size: 12px;
  margin-bottom: 40px;
  border-radius: 28px;
  margin:20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-project:hover {
  background-color:var(--border); 
}

.grid{
  display: grid;
  grid-template-columns: auto auto  ;
  grid-gap: 5px;
  width: 100%;
  gap: 5px;
  margin-right: 20%;
  height: auto;
  justify-self:center;
  align-items: center;
  background-color: #000000;
  padding: 5px;

}
.image-grid img {
  width: 300px;
  height: 400px;
  align-items: center;
  justify-self: center;
}
.image-grid {
  position: absolute;
  top: 50%;
  left: 2%;
  gap: 5px;
  height: auto;
  justify-self: center;
  align-items: center;
  z-index: 10;
  pointer-events: none; 
}
.rectangle_border{
  display: flex;
  border-radius: 28px;
  width: 140px;
  height: 140px;
  background-color: var(--color_bg);
  border: 2px solid var(--border);

}
.rectangle_full{
  display: flex;
  border-radius: 28px;
  width: 140px;
  height: 140px;
  background-color: var(--color-btn);
  border: 2px solid var(--border);


}
.menu-button{
  margin-right: 40%;
}
.title h3{
font-size: 30px;
font-family: Roboto;
color: var(--color_bg);
-webkit-text-stroke:2px  var(--border);
font-weight: 700;

}
.text-field{
  align-items: center;
  justify-self: center;
  margin-left:-120% ;
}
.text-field p {
color: var(--color_font);
text-align: center;
font-family: Roboto;
font-size: 14px;
width: 300px;
align-items: center;
margin-left:50%;
justify-self: center;
margin-top: 5%;
font-style: normal;
position: absolute;
font-weight: 200;
line-height: normal;
}


.text-field::after {
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #E5005F;
  transition: width 0.3s ease;
}

.text-fieldhover::after {
  width: 100%;
}
.element-triangle{
  display: none;
  gap:20px;
  align-self:right ;
  margin-top: 20%;
  justify-items:right ;
  margin-left: 40%;
  padding: 10px;

}
.h-habilities{

margin-top: 30%;
font-size: 30px;
font-family: Roboto;
color: var(--color_bg);
-webkit-text-stroke:2px  var(--border);
font-weight: 700;
margin-left: 10%;
}

.card {
      background-color: var(--color_bg);
      width: 10%;
      border: 2px solid var(--border);
      border-radius: 28px;
      padding: 1.5rem;
      display: flex;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      transition: transform 0.3s ease;
    }

    .card:hover {
      transform: translateY(-4px);
    }

    .card-title {
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center;
      margin: 0;
    }

    .text-list {
      list-style-type: disc;
      padding-left: 1.2rem;
      font-size: 0.9rem;
      font-weight: 100;
      color: var(--color_font);
      line-height: 1.6;
      text-align: left;
      width: 100%;
    }

   
.conteiner-languages .grid-languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: auto;                
  padding: 0px 55px;
  width: auto;
  margin-top: 20%;
  height: auto;
  align-items: center;
  justify-self: center;
  margin: 10px;
  gap: 13px;
  margin-left: 10%;
  border-radius: 28px;
  background-color: var(--color_bg);
  border: 1px solid var(--border);
}

.conteiner-languages svg {
  width: 55px;  
  height: 46px;
}
.grid-checkered {
  display: grid;
  grid-template-columns: repeat(2,54px);
  gap: 1px;
  margin-right:90%;
  width: max-content;
  align-items: center;
  width: 5%;
  justify-self: center;
  margin-top:10%;
  padding: 10px;
}

.rectangle-full,
.rectangle-border {
  width: 52px;
  height: 50px;
  border: 1px solid #333;
}

.rectangle-full {
  background-color: var(--border);
}

.rectangle-border {
  background-color: var(--color_bg);
  border: 2px solid var(--border);
}


.grid-checkered > :nth-child(10n+6),
.grid-checkered > :nth-child(10n+7),
.grid-checkered > :nth-child(10n+8),
.grid-checkered > :nth-child(10n+9),
.grid-checkered > :nth-child(10n+10) {
  transform: translateX(52px); 
}



 @media (max-width: 600px) {

      .card {
        width: 60%;
        margin-left: 20%;
        padding: 1rem;
      }

      .card-title {
        font-size: 1.1rem;
      }

      .text-list {
        font-size: 0.85rem;
        text-align: center;
        padding-left: 0;
      }
    }
    .conteiner-habilities{
        display: flex;
        margin-top: -120%;
}

}
/* tablet */
@media (max-width: 991.98px) {
.ball-main h1{
  margin-top: 30%;
  top: 30%;
  font-size: 52px;
}
.ball1{
  display: none;

}
}
/* desktop e notebook */
@media (min-width: 995px) {
  .nav-bar ul {
    flex-direction: row; 
  }
.nav-bar{
  display: none;
}
  .sidebar .nav-btn {
    flex-direction: row;
    gap: 10px;
    width: 100px;
    height:auto;
  }
.ball-main{
  width: 100px;
  height: 100px;
  right:60%;
  align-items: left;
  justify-self: left;
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 50%;
  background-color: var(--border);
  box-shadow: 0 4px 6px rgba(0,0,0,00.2);

}
.ball-main h1{
  text-align: center;
  font-family: Roboto;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  backdrop-filter: blur(2px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.ball-main h1:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

}
 

